<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm mới</title>
    <th:block th:replace="~{common/template::linkBootstrap}"></th:block>
</head>
<body>
<nav th:replace="~{common/template::navbar}"></nav>
<div class="container">
<form method="post" th:object="${studentDto}">
    <div class="mb-3">
        <label for="name" class="form-label">Họ và tên</label>
        <input type="text" class="form-control" id="name" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red; font-style: italic"></p>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" class="form-control" id="address" name="address" th:field="*{address}"/>
        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red; font-style: italic"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" for="score">Điểm</label>
        <input type="number" class="form-control" id="score" th:field="*{score}"/>
        <p th:if="${#fields.hasErrors('score')}" th:errors="*{score}" style="color: red; font-style: italic"></p>
    </div>
    <div class="mb-3">
        <label class="form-label" for="classroom">Lớp học</label>
        <select th:field="*{classroom}" class="form-select" id="classroom">
            <option th:each="classroom: ${classrooms}" th:text="${classroom.name}" th:value="${classroom.id}"></option>
        </select>
        <p th:if="${#fields.hasErrors('classroom')}" th:errors="*{classroom}" style="color: red; font-style: italic"></p>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
</div>
</body>
</html>