<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách học sinh</title>
    <meta charset="UTF-8">
    <th:block th:replace="~{common/template::linkBootstrap}">
    </th:block>
</head>
<body>
<nav th:replace="~{common/template::navbar}">

</nav>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Số thứ tự</th>
            <th>Mã</th>
            <th>Họ và tên</th>
            <th>Địa chỉ</th>
            <th>Điểm</th>
            <th>Học lực</th>
            <th>Lớp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iterStat: ${students}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.score}"></td>
            <td>
                <span th:if="${student.score >=8}">Giỏi</span>
                <span th:if="${student.score >=6.5 && student.score < 8}">Khá</span>
                <span th:if="${student.score >=5 && student.score < 6.5}">Trung Bình</span>
                <span th:if="${student.score >=3.5 && student.score < 5}">Yếu</span>
                <span th:if="${student.score < 3.5}">Kém</span>

            </td>
            <td th:text="${student.classroom.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>